<%= link_to 'Back', authors_path  %>
<h1>Crear nuevo autor</h1>
<%= form_for @author, html: {class:" css_class"} do |f| %>
 <label><strong>Nombre: </strong></label>
 <%= f.text_field :nombre %>
 <br><br>
<label><strong>Nacionalidad: </strong></label>
 <%= f.text_field :nacionalidad %>
<br><br>
<label><strong>Idioma: </strong></label>
<%= f.text_field :idioma%>
<br><br>
<label><strong>Ganancias</strong></label>
<%= f.text_field :ganacias_anuales %>
<br><br>

<%= f.submit @author.new_record?? "Crear" : "Actualizar" %>

<% end %>