
<%= link_to 'Volver a la lista', authors_path %>

<%= link_to 'Editar', edit_author_path %>
<h1>Mostrar datos de autor</h1>
<h3><strong>Id:</strong><%= @author.id %></h3>
<h3><strong>Nombre:</strong> <%= @author.nombre %></h3>
<h3><strong>Nacionalidad:</strong> <%= @author.nacionalidad %></h3>
<h3><strong>Idioma:</strong> <%= @author.idioma %></h3>
<h3><strongs>Ganancia annual: <%= @author.ganacias_anuales %> $</strongs></h3>